@import "../../../utils/colors";

.file {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(3, 1fr);
  align-items: center;

  &:hover {
    border-bottom: solid 1px $primary ; 
  }
  &__img {
    justify-self: center;
    width: 3rem;
  }
  &__img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &__date {
    grid-column-start: 4;
    justify-self: center;
    text-align: center;
  }
  &__size {
    grid-column-start: 5;
    justify-self: center;
    text-align: center;
  }
  &__basket {
    width: 2rem;
    display: none;
  }

  &:hover &__basket {
    display: block;
  }
  &__basket:hover {
    cursor: pointer;
    transform: scale(1.15)
  };
}