@import '../../app/colors';
    
%text {
    position: absolute;
    left: -100%;
    border: 2px solid;
    border-radius: 10px;
    color: $primary;
    text-align: center;
    font-family: cursive;
    font-size: 14px;
    padding: 3px;
    transition: all 0.6s;
    transform: scale(0);
    z-index: 1
}

.iconedit {
    position: relative;
    display: inline-block;
    &__text {
        @extend %text;
        bottom: 120%;
        &-bottom {  
            @extend %text;
            top: 120%; 
        }       
}


    &:hover &__icon {
        cursor: pointer;
        fill: $primary;
    }

    &:hover &__text, &:hover &__text-bottom {
        transform: scale(1);
    }
}