
/* $utilities: (
    "rounded": (
      property: border-radius,
      class: rounded,
      values: (
        0: 0,
        1: .2rem,
        2: .25rem,
        3: .5rem,
      )
    )
);  */
@import 'colors';
$border-radius: .5rem;
$border-radius-lg: .7rem;
/* $primary: #558b2f; */
@import "bootstrap";
/* @import '../../../node_modules/bootstrap/scss/bootstrap.scss'; */
