@import '../../../utils/colors';

.message {
    border: 1px solid $primary;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;

    &__own {
        background-color: lighten($color: $primary, $amount: 50)
    }

    &__last-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__checkbox {
        opacity: 0;
    }

    &:hover &__checkbox {
        opacity: 1;
    }

    &__checkbox-selected {
        opacity: 1;
    }

    &__checkbox {
        opacity: 0;

    }

    &__date {
        color: rgb(128, 128, 128);
        font-size: small;
        /* text-align: right; */
    }


}